#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% );
}

main {
  flex-grow: 1;
}

.bg-light {
  color: black !important;
}

::placeholder {
  color: rgb(125, 125, 125) !important;
}
